.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  padding: 20px;
}

.form-input {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.form-label {
  color: #fa8c41;
  font-weight: bolder;
}
